/*去除 admonition 的左边框*/
.md-typeset :-webkit-any(.admonition, details) {
    border-color: rgba(255, 255, 255, 0) !important;
    border-left-width: 0;
}

/*admonition.mark*/
.md-typeset .admonition.mark,
.md-typeset details.mark {
    border-color: rgba(255, 255, 255, 0);
    /*border-left-width: 0;*/
}

.md-typeset .mark>.admonition-title,
.md-typeset .mark>summary {
    /*summary 的背景颜色*/
    background-color: rgba(90, 90, 90, 0.05);
}

.md-typeset .mark>.admonition-title::before,
.md-typeset .mark>summary::before {
    /*图标的颜色*/
    background-color: rgba(90, 90, 90, 0.5);
    -webkit-mask-image: var(--md-admonition-icon--mark);
    mask-image: var(--md-admonition-icon--mark);
    /*-webkit-mask-size: 0%;
  mask-size: 0%;*/
}

/*admonition.mark 的图标*/
:root {
    --md-admonition-icon--mark: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M18,12h0a2,2,0,0,0-.59-1.4l-4.29-4.3a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42L15,11H5a1,1,0,0,0,0,2H15l-3.29,3.29a1,1,0,0,0,1.41,1.42l4.29-4.3A2,2,0,0,0,18,12Z"/></svg>')
}