/*  */
/* box: theorem */
/*  */

.md-typeset .admonition.thm,
.md-typeset details.thm {
    font-size: 0.8rem;
}

.md-typeset .thm>.admonition-title::before,
.md-typeset .thm>summary::before {
    left: 0;
    content: "Theorem";
    width: auto;
}

.md-typeset .thm>.admonition-title,
.md-typeset .thm>summary {
    font-size: 0.8rem;
    padding-left: 3.8rem;
}

.md-typeset details.thm:not([open]) {
    min-height: 2.7rem;
    box-shadow: var(--md-shadow-z1);
}