/*  */
/* box: theorem */
/*  */

.md-typeset {
    .admonition,
    details {
        &.def,
        &.lem,
        &.thm,
        &.cor,
        /*  */
        &.ex,
        /*  */
        &.proof,
        &.idea,
        &.remark,
        &.fact {
            font-size: 0.8rem;

            &:last-child {
                margin-bottom: 0.8rem;
            }
        }
    }

    .def,
    .lem,
    .thm,
    .cor,
    /*  */
    .ex,
    /*  */
    .proof,
    .idea,
    .remark,
    .fact {
        > .admonition-title,
        > summary {
            padding-left: 0rem;
            &::before {
                display: none;
            }
        }
    }
}
