[data-md-color-scheme="sora"] {
    --md-primary-fg-color: #6200ff9a;
    --md-primary-fg-color--light: #6200ff9a;
    --md-primary-fg-color--dark: #ad81ffd3;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #ad81ffd3;
    --md-primary-fg-color--light: #6200ff9a;
    --md-primary-fg-color--dark: #ad81ffd3;
    --md-hue: 250;
}

/* .md-grid {
    max-width: initial;
} */

.md-sidebar--primary {
    order: 0;
}