[data-md-color-scheme="sora"] {
    --md-primary-fg-color: #6200ff9a;
    --md-primary-fg-color--light: #6200ff9a;
    --md-primary-fg-color--dark: #ad81ffd3;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #ad81ffd3;
    --md-primary-fg-color--light: #6200ff9a;
    --md-primary-fg-color--dark: #ad81ffd3;
    --md-hue: 250;
}

/* 改变无序列表的标号 */
article ul {
    list-style-type: circle !important;
}

article ul ul {
    list-style-type: none !important;
}

article ul ul ul {
    list-style-type: none !important;
}


/* 隐藏navigation sidebar */
/* .md-sidebar--primary {
display: none;
} */

/* 目录放在左侧 */
.md-sidebar--secondary {
    order: 1;
}

/* 行距 */
/* .md-grid {
    max-width: initial;
} */