/*  */
/* 改变无序列表的标号 */
/*  */

.md-typeset ul {
    list-style-type: disc;
}

.md-typeset ul ul {
    list-style-type: circle;
}

/*  */
/* 改变无序列表的间距 */
/*  */

.md-typeset ul:not([hidden]) {
    display: block;
}