/*  */
/* 表格居中 */
/*  */

.md-typeset__table {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/*  */
/* 单元格垂直居中 */
/*  */

td {
    vertical-align: middle !important;
}
