# Project information
site_name: Sora
site_author: Yuriever
site_url: https://yuriever.github.io/
# repo_url: https://github.com/yuriever/yuriever.github.io
site_description: Sora

nav:
  - Home: index.md
  - Triangulated reality: symbolic.md
  - Lightnovel: lightnovel.md
  - Workbench: workbench.md
  - Sora: sora.md

theme:
  name: material
  custom_dir: custom
  font:
    text: Helvetica Neue
    code: Source Code Pro Semibold
  features:
    # navigation.instant is conflicted with mathjax
    # - navigation.instant
    # anchor tracking
    - navigation.tracking
    # navigation tabs
    - navigation.tabs
    # back-to-top button
    - navigation.top
    # automatic hiding of header
    - header.autohide
    # search suggestions
    - search.suggest
    # copy-to-clipboard button in code block
    - content.code.copy
  palette:
    - scheme: sora
  logo: img/Mutsumi1.png
  favicon: img/favicon.png

extra:
  # remove the notice "made with material" in the footer
  generator: false

validation:
  nav:
    omitted_files: ignore

extra_css:
  - css/const.css
  - css/theme-color.css
  - css/misc.css
  # element
  - css/list.css
  - css/heading.css
  - css/code.css
  - css/table.css
  - css/image.css
  - css/mathjax.css
  - css/footnote.css
  # box
  - css/box-format.css
  - css/box-type.css
  # tikzjax
  - css/tikzjax/fonts.css
  # blackbox
  # - css/css-test/blackbox.css
  # developer
  # - css/css-test/test.css
  # - css/css-test/test-box-color.css

extra_javascript:
  # random text
  - js/random-text.js
  # theorem
  - js/box-thm.js
  # mathjax
  - js/mathjax-setting.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  # tikzjax
  - js/tikzjax.js

markdown_extensions:
  # Python-Markdown
  - toc:
      toc_depth: 3
  - md_in_html
  - admonition
  - footnotes
  # PyMdown
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.inlinehilite
  - pymdownx.highlight:
      anchor_linenums: false
      use_pygments: true
      auto_title: false
      _enabled: true
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: false
  - pymdownx.mark
  - pymdownx.tilde

plugins:
  - bibtex:
      bib_dir: "bib"
  - caption

hooks:
  - hooks/mathjax_env_preprocess.py
