/*  */
/* box: theorem */
/*  */

.md-typeset .admonition.thm,
.md-typeset details.thm {
    font-size: 0.8rem;
}

.md-typeset .thm > .admonition-title,
.md-typeset .thm > summary {
    padding-left: 3rem;
}

.md-typeset .thm > .admonition-title::before,
.md-typeset .thm > summary::before {
    left: 0;
    content: "Theorem";
    width: auto;
}

html .md-typeset .admonition.thm > :last-child,
html .md-typeset details.thm > :last-child {
    margin-bottom: 0.8rem;
}
