.md-typeset .tabbed-set {
    background-color: rgba(246, 163, 255, 0.5) !important;
}

.md-typeset .tabbed-labels {
    background-color: rgba(211, 255, 163, 0.5) !important;
}

.md-typeset .tabbed-labels > label {
    background-color: rgba(163, 181, 255, 0.5) !important;
}

.md-typeset .tabbed-content {
    background-color: rgba(166, 163, 255, 0.5) !important;
}

.md-typeset .admonition,
.md-typeset details {
    background-color: rgba(163, 223, 255, 0.5) !important;
}

.md-typeset * > .admonition-title,
.md-typeset * > summary {
    background-color: rgba(255, 197, 163, 0.5) !important;
}

.md-typeset div.arithmatex {
    background-color: rgba(163, 255, 184, 0.5) !important;
}
