.md-typeset code {
    font-size: 0.6rem;
    background-color: var(--md-code-bg-color);
    border: var(--sora-box-border) !important;
    border-radius: calc(0.75 * var(--sora-box-border-radius)) !important;
    padding: 0.2rem 0.2rem;
}

.md-typeset code.highlight {
    border: none !important;
    border-radius: calc(0.5 * var(--sora-box-border-radius)) !important;
}

/*  */
/* size of copy button */
/*  */

button.md-clipboard {
    font-size: 0.6rem;
}
