.md-typeset code {
    background-color: var(--md-code-bg-color);
    border-radius: .2rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-size: .6rem;
    padding: 0 .2941176471em;
    word-break: break-word;
}