:root {
    --sora-font-color: rgb(52, 73, 100);
    --sora-font-em-color: rgb(127, 140, 140);
    --sora-ref-color: rgb(120, 120, 255);
    --sora-eqref-color: rgb(15, 165, 70);
    --sora-box-border: none;
    --sora-box-border-radius: 0.4rem;
}
