/*  */
/* footnote 格式 */
/*  */

a.footnote-ref:before {
    content: "";
}

a.footnote-ref:after {
    content: "";
}

a.footnote-ref {
    vertical-align: bottom;
    color: var(--sora-ref-color);
}

.md-typeset .footnote-ref {
    font-size: 1em;
}
