/*  */
/* 二级标题添加下边框 */
/*  */

.md-typeset h2 {
    padding-bottom: 0.4rem;
    border-bottom: 1px solid rgb(240, 240, 240);
}

/*  */
/* 标题自动编号 */
/*  */

body {
    counter-reset: h2;
}

h2 {
    counter-reset: h3;
}

h3 {
    counter-reset: h4;
}

article h2:before {
    content: counter(h2, upper-roman) " ";
    counter-increment: h2;
}

article h3:before {
    content: counter(h3, decimal) " ";
    counter-increment: h3;
}

article h4:before {
    content: counter(h4, decimal) " ";
    counter-increment: h4;
}

h2.nocount:before,
h3.nocount:before,
h4.nocount:before {
    content: "";
    counter-increment: none;
}

/*  */
/* 副标题 */
/*  */

span.subtitle {
    font-size: 16px;
}

span.subtitle:before {
    content: "\a";
    white-space: pre;
}
