/*  */
/* 正文字号 */
/*  */

.md-typeset {
    font-size: 15px;
}

/*  */
/* 目录放在右侧 */
/*  */

.md-sidebar--secondary {
    order: 1;
}

/*  */
/* 导航栏颜色 */
/*  */

.md-header,
.md-tabs {
    color: hsl(from var(--md-typeset-a-color) H S L / 0.5);
}

/*  */
/* 隐藏 md-footer-meta */
/*  */

.md-footer {
    display: none;
}

.md-footer-meta {
    height: 0;
}

/*  */
/* 水平线的边距 */
/*  */

.md-typeset hr {
    margin: 0.8rem 0;
}

/*  */
/* 隐藏滚动条 */
/*  */

::-webkit-scrollbar {
    display: none;
}

/*  */
/* 调整斜体字的格式 */
/*  */

.md-typeset em {
    color: var(--sora-font-em-color);
    font-style: normal;
}
