span.blackbox a.external,
span.blackbox a.external:visited,
span.blackbox a.extiw,
span.blackbox a.extiw:visited {
    color: #252525;
}

.blackbox,
.blackbox a,
a .blackbox,
.blackbox a.new {
    background-color: #252525;
    color: #252525;
    text-shadow: none;
}

body:not(.blackbox_toggle_on) .blackbox:hover,
body:not(.blackbox_toggle_on) .blackbox:active,
body:not(.blackbox_toggle_on) .blackbox.off {
    transition: color 0.13s linear;
    color: #fff;
}

body:not(.blackbox_toggle_on) .blackbox:hover a,
body:not(.blackbox_toggle_on) a:hover .blackbox,
body:not(.blackbox_toggle_on) .blackbox.off a,
body:not(.blackbox_toggle_on) a:hover .blackbox.off {
    transition: color 0.13s linear;
    color: #add8e6;
}

body:not(.blackbox_toggle_on) .blackbox.off .new,
body:not(.blackbox_toggle_on) .blackbox.off .new:hover,
body:not(.blackbox_toggle_on) .new:hover .blackbox.off,
body:not(.blackbox_toggle_on) .blackbox.off .new,
body:not(.blackbox_toggle_on) .blackbox.off .new:hover,
body:not(.blackbox_toggle_on) .new:hover .blackbox.off {
    transition: color 0.13s linear;
    color: #ba0000;
}
